<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" >
    <meta name="viewport" 
            content="width=device-width, user-scalable=no", initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Documento</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <br><br><br>
        <h2 >Confirma que o produto {{ produto.descricao}} será deletado</h2>
        <button type="submit" >Confirma</button>

    </form>
   
</body>
</html>